# both libraries are required for IOB2 metrics
datasets
seqeval

# for model process
tensorboard

# linting
black

# testing
pytest

# always test current branch, see https://stackoverflow.com/a/62785081/2135504
pytest-watch
pytest-picked